body {
    background-color: lightcyan;
}

h1 {
    color: rgb(16, 16, 202);
    text-align: center;
}

h2 {
    color: rgb(98, 125, 205);
    text-align: center;
    font-style: italic;
}

#form {
    text-align: center;
}


#button {
    background-color: rgb(15, 15, 148);
    color: white;
    padding: 5px;
}

#here_you_go {
    white-space: pre-line;
}