body {
    background-color: hsl(254, 100%, 3%);
    color: #f5fcfb;
    display: flex;
    flex-direction: column;
    font-family: 'Spectral';
    font-size: 22px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.cat_image {
    margin: 0% 25% 0%;
    width: 50%;
    height: 25%;
    border-radius: 10px;
    border: 5px double gray;
}

.cat_information {
    display: grid;
    justify-content: center;
} 

#informasjon {
    max-width: 400px;
    padding: 16px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #410546;
    border: 1px solid #fcd0d0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    font-family: Arial, sans-serif;
}


