html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
}

nav {
    background-color: rgb(74, 96, 112);
    padding: 1rem;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 50;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: rgb(49, 50, 61);
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    background-color: rgb(214, 228, 245);
}

p {
    padding: 1rem;
}

img {
  display: block;
  margin: auto;
  width: 50%;
  position: relative;
}