body {
    background-color: hsl(254, 100%, 3%);color: #f5fcfb;
    display: flex;
    flex-direction: column;
    font-family: 'Spectral';font-size: 22px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

#clock {
    color: rgb(249, 253, 255);
    font-size: 5rem;
    text-shadow: 0 0 10px rgb(230, 255, 88), 0 0 20px rgb(46, 227, 251);
}


#clock_2 {
    color: rgb(111, 53, 5);
    font-size: 2.5rem;
}

.fade {
    animation: fadeIn 0.2s; 
}

@keyframes fadeIn {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

/*body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#clock {
  font-family: "Courier New", monospace;
  font-size: 5rem;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #009999;
}