img {
    max-height: 500px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}


button {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}