   body {
       background: rgb(224, 239, 217);
       display: flex;
       flex-direction: column;
       font-family: 'Mountains of Christmas';
       font-size: 22px;
       padding: 50px;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
   }

   .center {
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   button {
       width: 140px;
       height: 50px;
       position: relative;
       background: none;
       outline: none;
       border: none;
       padding: 0;
       margin: 0;
   }

   .top {
       width: 100%;
       height: 100%;
       background: rgb(255, 255, 238);
       font-family: poppins;
       font-size: 16px;
       color: rgb(36, 38, 34);
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 7mm;
       outline: 2px solid rgb(36, 38, 34);
       transition: 0.2s;
       position: relative;
       overflow: hidden;
   }

   .bottom {
       position: absolute;
       width: 100%;
       height: 100%;
       background: rgb(229, 229, 199);
       top: 10px;
       left: 0;
       border-radius: 7mm;
       outline: 2px solid rgb(36, 38, 34);
       z-index: -1;
   }

   .bottom::before {
       position: absolute;
       content: "";
       width: 2px;
       height: 9px;
       background: rgb(36, 38, 34);
       bottom: 0;
       left: 15%;
   }

   .bottom::after {
       position: absolute;
       content: "";
       width: 2px;
       height: 9px;
       background: rgb(36, 38, 34);
       bottom: 0;
       left: 85%;
   }

   button:active .top {
       transform: translateY(10px);
   }

   button::before {
       position: absolute;
       content: "";
       width: calc(100% + 2px);
       height: 100%;
       background: rgb(140, 140, 140);
       top: 14px;
       left: -1px;
       border-radius: 7mm;
       outline: 2px solid rgb(36, 38, 34);
       z-index: -1;
   }

   .top::before {
       position: absolute;
       content: "";
       width: 15px;
       height: 100%;
       background: rgba(0, 0, 0, 0.1);
       transform: skewX(30deg);
       left: -20px;
       transition: 0.25s;
   }

   button:active .top::before {
       left: calc(100% + 20px);
   }

#result {
    text-align: center;
    margin-top: 20px;
}

.santa-img {
    max-width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 25%;
}

.nice-text {
    color: rgb(249, 253, 255);
    font-size: 5rem;
    text-shadow:
        0 0 10px rgb(230, 255, 88),
        0 0 20px rgb(46, 227, 251);
}

.naughty-text {
    color: rgb(255, 230, 230);
    font-size: 5rem;
    text-shadow:
        0 0 10px rgba(154, 0, 0, 0.533),
        0 0 20px rgb(180, 0, 0);
}

.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}


.shake {
    animation: shake 1.0s;
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-10px, 5px); }
    50% { transform: translate(10px, -5px); }
    75% { transform: translate(-10px, 5px); }
    100% { transform: translate(0); }
}

