.separator {
  height: 30px;
  background-color: rgb(221, 234, 232); 
  border-radius: 25px;
}

#layout0 > *, #layout1 > *, #layout2 > * {
  background-color: #aac9c6;
  border: 3px solid #e6fffd;
  border-radius: 45px;
  margin: 12px;
  transition: 0.6s;
}

#layout0 > *:hover, #layout1 > *:hover, #layout2 > *:hover {
  background-color: yellow;
  font-size: 18px;
}

#layout0 {
  min-height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 2fr);
  grid-template-areas: 
    "t t t t t"
    "v . h h h"
    "v . h h h";
}

header.topp   { grid-area: t; }
aside.venstre { grid-area: v; }
main.hoyre    { grid-area: h; }

#layout1 {
  min-height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 2fr);
  grid-template-areas: 
    "v v h h h"
    "v v h h h"
    "v v h h h";
}

aside.venstre { grid-area: v; }
main.hoyre    { grid-area: h; }

#layout2 {
  min-height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 2fr);
  grid-template-areas: 
    "t t t t t t t t t t"
    "m m m m m m m m m m"
    "m m m m m m m m m m"
    "m m m m m m m m m m"
    "b b b b b b b b b b";
}

header.topp    { grid-area: t; }
section.middel { grid-area: m; }
footer.bunn    { grid-area: b; }
